fastapi                  # Framework web assíncrono para a API
uvicorn[standard]        # Servidor ASGI para rodar o FastAPI (com suporte WebSocket)
websockets               # Biblioteca WebSocket para uvicorn
asyncpg                  # Driver assíncrono para PostgreSQL
sqlalchemy               # ORM (Object-Relational Mapper)
pika                     # Cliente Python para AMQP (RabbitMQ)
redis                    # Cliente Python para Redis
httpx                    # Cliente HTTP assíncrono moderno (para chamar API da OpenAI/Hugging Face)
prometheus_client        # Biblioteca para exportar métricas customizadas
pytest                   # Framework de testes para Python
pytest-asyncio        # Suporte para testes assíncronos com pytest
sqlalchemy               # ORM (Object-Relational Mapper)
aiosqlite           # Driver assíncrono para SQLite
httpx                    # Cliente HTTP assíncrono moderno 
requests                 # Cliente HTTP síncrono (Usado na simulação do Worker)
python-dotenv            # Carregamento automático de variáveis definidas no .env
bcrypt                   # Biblioteca para hash de senhas
python-jose[cryptography] # Biblioteca para JWT tokens
passlib[bcrypt]          # Biblioteca adicional para hash de senhas
email-validator          # Validação de email para Pydantic EmailStr